.about {
    padding-bottom: 80px;
    position: relative;

    @media (min-width: $desktop1) {
        padding-bottom: 200px;
    }

    & .swiper-button-prev {
        top: 45%;
        color: $orange;
    }
    & .swiper-button-next {
        top: 45%;
        color: $orange;
    }
    & .slider__slide {
        padding: 0;
        border: none;
        grid-template-columns: auto;
    }
}

.about__title {
    margin: 60px 0 40px 0;
}

.about__subtitle {
    font-weight: normal;
    font-size: 15px;
    width: 280px;
    margin: 0 auto 50px;
    text-align: center;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;

    &.visible {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    @media (min-width: $tablet) {
        font-size: 14px;
        width: 715px;
    }
    @media (min-width: $laptop) {
        font-size: 21px;
        width: 1280px;
    }
}

.slide {
    width: 220px;
    position: relative;
    @media (min-width: $tablet) {
        width: 580px;
    }
    @media (min-width: $tabletM) {
        width: 750px;
    }
    @media (min-width: $desktop1) {
        width: 1150px;
    }
}

.slide__img {
    width: 220px;
    margin-bottom: 10px;

    @media (min-width: $tablet) {
        width: 580px;
    }
    @media (min-width: $tabletM) {
        width: 750px;
    }
    @media (min-width: $desktop1) {
        width: 1150px;
    }
}

.slide__text {
    text-align: center;
    font-size: 1.2rem;

    @media (min-width: $tablet) {
        position: absolute;
        bottom: 30px;
        left: 20px;
        width: 50%;
        text-align: left;
        background-color: rgba(24, 24, 24, 0.5);
        padding: 10px;
    }
}

.swiper__buttons {
    top: 45%;
}
