.contact__title {
   margin: 60px 0 40px 0;
}

.contact__subtitle {
   font-weight: normal;
   font-size: 15px;
   width: 280px;
   margin: 0 auto 50px;
   text-align: center;

   @media (min-width: $tablet) {
       font-size: 14px;
       width: 715px;
   }
   @media (min-width: $laptop) {
       font-size: 21px;
       width: 1280px;
   }
}

.contact__row{
   display: flex;
   flex-direction: column-reverse;
   width: 80%;
   margin: auto;
   margin-bottom: 80px;
   @media (min-width: $tablet) {
      width: 100%;
      flex-direction: row;
  }
}

.contact__form{
   display: flex;
   flex-direction: column;
   @media (min-width: $tablet) {
      width: 50%;  
   }
}

.form__input{
   @media (min-width: $desktop1) {
      display: flex;
      flex-direction: row;
      width: 80%;
      margin-left: auto;
      margin-right: 0;
      max-width: 565px;
   }
   
}

.form__input__block{
   display: flex;
   flex-direction: column;
   @media (min-width: $tablet) {
      width: 80%;
      margin-left: auto;
      margin-right: 0;
   }
   @media (min-width: $desktop1) {
      width: 49%;
   }
}

.contact__info{
   margin-bottom: 10px;
   & p {
      margin-bottom: 10px;
   }
   @media (min-width: $tablet) {
      margin: 25px 0 0 25px;
   }
}

.input__field {
   background-color: transparent;
   border: #fff solid 1px;
   color: #fff;
   height: 30px;
   margin-bottom: 10px; 
}

.form__textarea{
   @media (min-width: $tablet) {
      width: 80%;
      margin-left: auto;
      margin-right: 0;
  }
   @media (min-width: $desktop1) {
      width: 79%;
      max-width: 560px;
      margin-left: auto;
      margin-right: 0;
   }
}
.textarea__field{
   width: 98%;
   background-color: transparent;
   border: #fff solid 1px;
   color: #fff;
   margin-bottom: 10px; 
   @media (min-width: $tablet) {
      width: 100%;
      box-sizing: border-box;
   }
}

.contact__button {
   border-radius: 50px;
   border: none;
   width: 150px;
   height: 40px;
   background-color: $orange;
   color: #fff;
   margin-left: auto;
   margin-right: 0;
   @media (min-width: $tablet) {
      margin-left: auto;
      margin-right: 0;
   }
}