@import "variables.scss";

.courses {
    margin-bottom: 40px;

    @media (min-width: $tablet) {
        margin-bottom: 60px;
    }
}

.courses__title {
    margin-bottom: 20px;

    @media (min-width: $tablet) {
        margin-bottom: 40px;
    }
}

.courses__list {
    display: grid;
    grid-template-columns: 260px;
    justify-content: center;
    grid-row-gap: 25px;

    @media (min-width: $tablet) {
        grid-template-columns: 260px 260px;
        grid-column-gap: 25px;
    }

    @media (min-width: $desktop1) {
        grid-template-columns: repeat(4, 260px);
        grid-column-gap: 30px;
    }

    @media (min-width: $desktop2) {
        grid-template-columns: repeat(4, 350px);
        grid-column-gap: 64px;
    }
}

.courses__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid rgba(134, 134, 134, 0.5);
    border-radius: 10px;
    width: 260px;
    height: 260px;
    transition: all .3s ease;
    background: $black;
    overflow: hidden;
    cursor: pointer;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        transform: translateX(-100%);
        top: 0;
        background: $orange;
        transition: all .3s ease;
        z-index: 0;
    }

    & svg {
        width: 100px;
        margin-bottom: 26px;
        position: relative;
        z-index: 10;
    }

    @media (min-width: $desktop2) {
        width: 350px;
        height: 350px;
    }

    &:hover {
        &:before {
            transform: translateX(0);
        }
        & .courses__info {
            color: #fff;
        }
    }
}

.courses__popup-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(134, 134, 134, 0.5);
    border-radius: 10px;
    width: 260px;
    height: 260px;
    background: $black;
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;

    & svg {
        width: 100px;
        margin-bottom: 26px;
        position: relative;
        z-index: 10;
    }

    @media (min-width: $tablet) {
        grid-area: a;
    }

    @media (min-width: $desktop2) {
        width: 350px;
        height: 350px;
    }
}

.courses__info {
    color: $orange;
    text-align: center;
    font-weight: bold;
    position: relative;
    z-index: 10;

    @media (min-width: $laptop) {
        font-size: 22px;
    }

    @media (min-width: $desktop2) {
        font-size: 28px;
    }
}

.courses__price {
    position: absolute;
    left: 19px;
    bottom: 14px;
    font-weight: bold;
    color: #fff;
    font-size: 15px;

    @media (min-width: $laptop) {
        font-size: 21px;
    }

    @media (min-width: $desktop2) {
        font-size: 26px;
    }
}

.curtain {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-105%);
    background: $black;
    transition: all .5s ease;
    box-shadow: 1px 0 30px rgba(235, 234, 234, .3);
}

.courses__popup {
    pointer-events: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
    display: none;
    overflow: auto;
    transform: translate3d(0, 0, 0);

    @media (min-width: $tablet) {
        margin: 0 auto;
    }
}

.courses__popup-box {
    width: 100%;
    padding-top: 30px;
    opacity: 0;

    &.active {
        opacity: 1;
    }

    @media (min-width: $tablet) {
        width: 700px;
        margin: 0 auto;
    }

    @media (min-width: $laptop) {
        width: 1120px;
    }
}

.courses__back {
    display: none;
    margin: 0 auto;

    @media (min-width: $tablet) {
        margin: 0 auto;
    }
}

.courses__popup.active {
    z-index: 100;
    pointer-events: auto;
    display: block;
}

.courses__popup.active + .curtain {
    animation: curtain 1s ease 0s 1 forwards;        
}
.courses__popup-wrap {
    margin: 0 auto;
    display: none;

    &.active {
        display: block;
    }
}

.courses__popup-title {
    margin-bottom: 30px;
    display: none;

    @media (min-width: $tablet) {
        display: block;
        font-size: 35px;
    }

    @media (min-width: $desktop1) {
        display: block;
        font-size: 40px;
    }
}

.courses__text {
    margin-bottom: 20px;

    @media (min-width: $tablet) {
        grid-area: b;
    }

    @media (min-width: $laptop) {
        font-size: 21px;
    }

    @media (min-width: $desktop2) {
        font-size: 26px;
    }
}

@keyframes curtain {
    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-105%);
    }
}

.courses__popup-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 280px;

    @media (min-width: $tablet) {
        grid-template-columns: 280px 1fr;
        grid-template-areas: 
            "a b"
            "a c";
    }

    @media (min-width: $laptop) {
        grid-template-columns: 280px 1fr;
    }
}

.courses__advantages {
    padding-left: 15px;

    @media (min-width: $tablet) {
        grid-area: c;
    }
}

.advantages__item {
    margin-bottom: 10px;
    font-size: 15px;

    &:before {
        content: "\2022";
        color: $orange; 
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    @media (min-width: $laptop) {
        font-size: 19px;
    }

    @media (min-width: $desktop2) {
        font-size: 24px;
    }
}