@import "./variables.scss";

.swiper-container {
    padding-bottom: 40px;
}

.reviews__title {
    margin-bottom: 40px;
}

.slider__slide {
    width: 260px;
    margin: 0 auto;
    display: grid;
    justify-content: center;

    @media (min-width: $tablet) {
        width: 500px;
    }
}

.slider__ava {
    width: 220px;
    margin-bottom: 20px;
}

.slide-top {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__name {
    font-size: 20px;
}

.slide-bot__text {
    font-size: 15px;
}


.swiper-button-prev,
.swiper-button-next {
    top: 23%;
    color: $orange;
}

.reviews .swiper-pagination {
    bottom: 0;
    
    & .swiper-pagination-bullet {
        background-color: $orange;
        transition: all .2s ease;
        margin: 0 5px;
        width: 8px;
        height: 8px;
    }

    & .swiper-pagination-bullet-active {
        width: 30px;
        border-radius: 15px;
    }
} 