.teachers {
    padding-bottom: 80px;

    @media (min-width: $desktop1) {
        padding-bottom: 250px;
    }
}

.teachers__title {
    margin-bottom: 40px;
}

.teachers__subtitle {
    font-weight: normal;
    font-size: 15px;
    width: 280px;
    margin: 0 auto 50px;
    text-align: center;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;

    &.visible {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    @media (min-width: $tablet) {
        font-size: 14px;
        width: 715px;
    }
    @media (min-width: $laptop) {
        font-size: 21px;
        width: 1280px;
    }
}

.teachers__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    & img {
        transform: translate(0px, 120%);
        opacity: 0;
    }

    &.visible {
        img {
            @for $var from 1 to 7 {
                $delay: $var * 0.2;
                &:nth-child(#{$var}) {
                    @if $var == 1 {
                        transition: all 0.8s ease 0.3s;
                        opacity: 1;
                        transform: translate(0px, 0px);
                    } @else {
                        transition: all 0.8s ease #{$delay + s};
                        opacity: 1;
                        transform: translate(0px, 0px);
                    }
                }
            }
        }
    }

    @media (min-width: $tablet) {
        width: 715px;
        flex-direction: row;
        flex-wrap: wrap;

        .gallery__column--last {
            display: flex;
            flex-direction: row;
        }
    }

    @media (min-width: $laptop) {
        width: 1200px;
        flex-direction: row;
        flex-wrap: wrap;

        .gallery__column--last {
            display: flex;
            flex-direction: column;
        }
    }
}

.gallery__image {
    overflow: hidden;

    & img {
        width: 220px;
        margin: 10px;

        @media (min-width: $tablet) {
            width: 265px;
        }

        @media (min-width: $laptop) {
            width: 380px;
        }
    }
}

.gallery__image--scalable {
    transition: 0.5s;
}

.gallery__image--scalable:hover {
    transform: scale(1.2) !important;
}
