// colors
$orange: #F68A42;
$orangeHover: #bd672d;
$orangeActive: #914614;
$black: #181818;

// fonts
$robotoRegular: 'Roboto', sans-serif;

// media queries
$mobile: 320px;
$tablet: 768px;
$tabletM: 960px;
$laptop: 1280px;
$desktop1: 1440px;
$desktop2: 1920px;