.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: url('../img//welcome/welcome_bg.jpg');
    // background-position: center center;
    background: rgba(0, 0, 0, .4);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    object-fit: cover;
    z-index: 0;
    height: 100vh;
    width: 100%;
}

.welcome__title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: $laptop) {
        margin-bottom: 0;
    }

    & .button {
        transform: translate(0px, 120%);
        opacity: 0;
        transition: all 0.8s ease 0.6s;

        &.visible{
            transform: translate(0px, 0px);
            opacity: 1;
            transition: all 0.8s ease 0.9s;
        }
    }
}

.welcome__title {
    width: 150px;
    height: 150px;
    margin: 20px;

    @media (min-width: $tablet) {
        width: 200px;
        height: 200px;
    }

    @media (min-width: $laptop) {
        width: 380px;
        height: 380px;
    }
}

#logo{
    width: 150px;
    height: 150px;
    animation: fill 0.5s ease forwards 1s;

    @media (min-width: $tablet) {
        width: 200px;
        height: 200px;
    }

    @media (min-width: $laptop) {
        width: 380px;
        height: 380px;
    }
    
    & path {
        stroke-dasharray: 1890;
        stroke-dashoffset: 1890;
        animation: line-animation 3s ease forwards;
    }

    @keyframes line-animation {
        to {
            stroke-dashoffset: 0;
        }
    }
    @keyframes fill {
        from {
            fill: transparent;
        }
        to {
            fill: white;
        }
    }

    @media (min-width: $desktop2) {
        font-size: 170px;
    }
}

.welcome__subtitle {
    margin-bottom: 20px;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.6s;

    &.visible {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    @media (min-width: $laptop) {
        font-size: 35px;
    }

    @media (min-width: $desktop2) {
        font-size: 45px;
    }

    &.welcome__subtitle--hidden {
        transition: all .1s ease;
        opacity: 0;
    }
}


.social_networks {
    display: flex;

    & .anim-items{
        opacity: 0;
        transition: all 0.8s ease 1s;

        &:nth-child(1).visible{
            transform: translate(0px, 0px);
            opacity: 1;
            transition: all 0.8s ease 1.2s;
        }
        &:nth-child(2).visible{
            transform: translate(0px, 0px);
            opacity: 1;
            transition: all 0.8s ease 1.4s;
        }
        &:nth-child(3).visible{
            transform: translate(0px, 0px);
            opacity: 1;
            transition: all 0.8s ease 1.6s;
        }
    }

    @media (min-width: $laptop) {
        position: absolute;
        left: 50px;
        bottom: 20px;
    }
}

.social__networks-link img {
    transition: all .2s ease;
    &:hover {
        filter: drop-shadow(2px 2px 2px #fff);
    }
}

.welcome .js-open-popup {
    &.open-popup--hidden {
        transition: all .1s ease;
        opacity: 0;
    }
}